# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# husky
/.husky

# compiled folder
/build

# misc
.DS_Store
.env
.env.develop
.env.development
.env.production
.env.local
.env.staging

npm-debug.log*